<center>
    <form>
    <body class="jumbotron" style="margin-top: auto;">
       
        <h1 class="alert-primary"><b>***   Password Reset   ***</b></h1>
    
<table border="2">
    <tr>
        <td style="color:  rgb(27, 199, 29)"><b>Enter your Password:</b> </td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td style="color:  rgb(27, 199, 29)";><b>Re-Enter your Password:</b> </td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><br><button (click)="ResetP()" class="btn btn-success">Reset Password</button></td><br>
    </tr>
</table>
                
</body>
</form>
</center>
