
<h2>Remove Item</h2>
<div class="container">
<table>
    <tr>
        <td>Item ID</td>
        <td><input type="text" class="item.itemId" [(ngModel) ]="item.itemId"></td>
    </tr>
    <tr>
        <td><button class="btn btn-danger" (click)="removeItem()">Delete Item</button></td>
        <td>{{msg}}</td>
    </tr>
    <tbody *ngIf="showInfo">
    <tr>
        <td>Item Name</td>
        <td><input type="text"  class="item.itemName" [(ngModel) ]="item.itemName"></td>
    </tr>
</tbody>
</table>
</div>