<center>
    <form>
    <body class="jumbotron" style="margin-top: auto;">
       
        <h1 class="alert-primary"><b>Sign-Up</b></h1>
    
<table border="2">
    <tr>
        <td style="color:salmon"><b>User Id: </b></td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td style="color:salmon"><b>User Name: </b></td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td style="color:salmon"><b>Password:</b> </td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><br><button (click)="SignUp()" class="btn btn-info">Sign-Up</button></td><br>
    </tr>
</table>
                
</body>
</form>
</center>
