
<br><br><h2>Update Restaurant</h2><br><br>
<body class="container" style="text-align: center;"></body>
<table>
    <tr>
        <td>ID</td>
        <td><input type="text" class="res.restaurantName" [(ngModel)]="res.restaurantName"></td>
    </tr>

    
    <tr>
        <td>Name</td>
        <td><input type="text" class="res.restaurantName" [(ngModel)]="res.restaurantName"></td>
    </tr>
    <tr>
        <td>Manager Name</td>
        <td><input type="text" class="res.managerName"[(ngModel)]="res.managerName"></td>
    </tr>
    <tr>
        <td>ContactNumber</td>
        <td><input type="text" class="res.contactNumber" [(ngModel)]="res.contactNumber"></td>
    </tr>
    <tr>
        <td>List of items</td>
        <td><input type="text" class="res.itemList" [(ngModel)]="res.itemList"></td>
    </tr>
    <tr>
        <td><button class="btn btn-info" (click)="updateRestaurant()">Update Restaurant</button></td>
        
    </tr>

</table>
</body>
