<center>
       <h2 >Add Category</h2>
       <div class="container">
           <table >
               <tr>
                   <td>Category Id</td>
                   <td><input type="text" class="cat.categoryId" [(ngModel)]="cat.categoryId" ></td>
               </tr>
               <tr>
                   <td>Category Name</td>
                   <td><input type="text" class="cat.categoryName" [(ngModel)]="cat.categoryName"></td>
               </tr>
           </table>
           <br>
           <br>
           <button class="btn btn-info" (click)="addCategory()">Add Category </button>
       </div>
</center>
