<center>
    <form>
    <body class="jumbotron" style="margin-top: auto;">
       
        <h1 class="alert-primary"><b>!!!...Forgot Password...!!!</b></h1>
    
<table border="2">
    <tr>
        <td style="color: rgb(7, 59, 58);"><b>Enter your User Id:</b> </td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td style="color: rgb(7, 59, 58);"><b>Enter your User Name:</b> </td>
        <td><input type="text" width="10"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><br><button (click)="ResetPwd()" class="btn btn-dark">Reset Password</button></td><br>
    </tr>
</table>
                
</body>
</form>
</center>
