<center>

    <body>
       <h2 >Delete Category </h2>
       <div class="container">
           <table >
               <tr>
                   <td>Category Id</td>
                   <td><input type="text" class="cat.categoryName" [(ngModel)]="cat.categoryName" ></td>
               </tr>
               <tr>
                   <td>Category Name</td>
                   <td><input type="text" class="cat.categoryName" [(ngModel)]="cat.categoryName"></td>
               </tr>
           </table>
           <br>
           <br>
           <button class="btn btn-info" (click)="deleteCategory()">Delete Category</button>
       </div>
       
    
       
   </body>
</center>


