<br><h1 style="text-align: center;">...Customer Details...</h1>
<body class="container" style="text-align: center;">
  <br>
    <button (click)="viewCust()" class="btn btn-info">View Customer</button><br><br>
    <button (click)="addCust()" class="btn btn-success">Add Customer</button><br><br>
    <button (click)="updateCust()" class="btn btn-primary">Update Customer</button><br><br>
    <button (click)="removeCust()" class="btn btn-danger">Remove Customer</button><br><br>
    <router-outlet>
        
    </router-outlet>
</body>