<body class="jumbotron">
    <h2 style="text-align: center;">New Customer Form</h2>
    <form><br>
    <table border="3" style="margin: auto;">
    <tr>
        <td>Customer ID:</td>
        <td><input type="text" [(ngModel)]="customer.customerId"></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td><input type="text" [(ngModel)]="customer.firstName"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" [(ngModel)]="customer.lastName"></td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="text" [(ngModel)]="customer.age"></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td><input type="text" [(ngModel)]="customer.gender"></td>
    </tr>
    <tr>
        <td>Mobile Number</td>
        <td><input type="text" [(ngModel)]="customer.mobileNumber"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" [(ngModel)]="customer.email"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><br>
            Address Id:<input type="text" [(ngModel)]="customer.adress.adressId" ><br>
            City<input type="text" [(ngModel)]="customer.adress.city"><br>
            Pincode<input type="text" [(ngModel)]="customer.adress.pincode"><br><br>
    
    </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><button (click)="addCustomer()" class="btn-success">Add Customer</button></td>
        <td>{{customer.customerId}} {{customer.firstName}} {{customer.lastName}} {{customer.age}}
            {{customer.gender}} {{customer.mobileNumber}} {{customer.email}} {{customer.address}} {{customer.cartList}}
        </td>
    </tr>
</table>
</form>
</body>