
<br><br><h2>Add Restaurant</h2><br><br>
<body class="container" style="text-align: center;"></body>
<table>
    <tr>
        <td>Restaurant ID</td>
        <td><input type="text" class="res.restaurantId" [(ngModel)]="res.restaurantId"></td>
    </tr>
    <tr>
        <td>Restaurant Name</td>
        <td><input type="text" class="res.restaurantName" [(ngModel)]="res.restaurantName"></td>
    </tr>
    <tr>
        <td>Manager Name</td>
        <td><input type="text" class="res.managerName" [(ngModel)]="res.managerName"></td>
    </tr>
    <tr>
        <td>Contact Number</td>
        <td><input type="text" class="res.contactNumber" [(ngModel)]="res.contactName"></td>
    </tr>
    <tr>
        <td>List of items</td>
        <td><input type="text"  class="res.itemList" [(ngModel)]="res.itemList"></td>
    </tr>
    <tr>
        <td><button class="btn btn-info" (click)="addRestaurant()" >Add Restaurant</button></td>
       
    </tr>

</table>
</body>

