
    <form>
    <body class="jumbotron" >

        <h1 class="alert-success" style="text-align: center;"><b>Sign-In</b></h1><br><br>
        <table border="3" style="margin: auto;">
            <tr>
                <td><b>User Id: </b></td>
                <td><input type="text" width="10"></td>
            </tr>
            <tr>
                <td><b>Password:</b> </td>
                <td><input type="text" width="10"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button (click)="SignIn()" class="btn btn-primary">Sign-In</button><br>
                    <button (click)="forgotPwd()" class="btn btn-sm;btn-danger" style="color: red;">forgot-password</button>
                </td>
            </tr>
        </table>
        <br>
        
                
           
     
</body>
</form>
