<div>
    <h2>Update Category</h2>
    <form>
            <table>
                <tr>
                    <td>Category Id</td>
                    <td><input type="text" class="cat.categoryId" [(ngModel)]="cat.categoryId"></td>
                </tr>
                <tr>
                    <td>Category Name</td>
                    <td><input type="text" class="cat.categoryName" [(ngModel)]="cat.categoryName"></td>
                </tr>
            
                <tr>
                    <td><button (click)="updateCategory">Update Category</button></td> 
                </tr>
            </table>
    </form>
</div>








