<h2>Increase Quantity of Item</h2>
<div class="container">
<table>
    <tr>
        <td>Cart ID</td>
        <td> <input type="text" class="cart.cartId" [(ngModel) ]="cart.cartId"></td>
    </tr>
    <tr>
        <td>Item ID</td>
        <td> <input type="text" class="item.itemId"  [(ngModel) ]="item.itemId"></td>
    </tr>
    
    <tr>
        <td>Item Name</td>
        <td> <input type="text" class="item.itemName"  [(ngModel) ]="item.itemName"></td>
    </tr>

    <tr>
        <td>Quantity</td>
        <td> <input type="text"   class="item.quantity" [(ngModel) ]="item.quantity"></td>
    </tr>

        <td><button class="btn btn-primary" (click)="increaseQuantity()">Increase Quantity</button></td>
        
</table>
</div>