<body class="jumbotron">
    <h2 >Find and Update Customer</h2>
<table border="3" style="margin: auto;">
    <tr>
        <td>Customer ID:</td>
        <td><input type="text" [(ngModel)]="customer.customerId"></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;"><br><button class="btn btn-primary">Find Customer</button></td>        
    </tr>
    <tbody *ngIf="showInfo">
        <tr>
            <td>First Name</td>
            <td><input type="text" [(ngModel)]="customer.firstName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" [(ngModel)]="customer.lastName"></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" [(ngModel)]="customer.age"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" [(ngModel)]="customer.gender"></td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td><input type="text" [(ngModel)]="customer.mobileNumber"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" [(ngModel)]="customer.email"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><br>
                area<input type="text" ><br>
                city<input type="text" ><br>
                pincode<input type="text" ><br><br>
        
        </td>
        </tr>
        
    <tr>
        <td colspan="2"><button class="btn btn-primary">Update Employee</button></td>
    </tr>
</tbody>
</table>
</body>
